* {
    margin: 0px;
    padding: 0px;
}

input {
    display: block;
    height: 50px;
    width: 350px;
    margin: 15px;
    font-size: 16pt;
    padding: 10px 20px;
}


div#login {
    width: 400px;
    margin: 100px auto 0px auto;
}

div#login h1 {
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


div#cadastro {
    width: 400px;
    margin: 100px auto 0px auto;
}

div#cadastro h1 {
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

div#produtos {
    padding: 100px;
}

p#clique-aqui {
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p#invalido {
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

p#cadastro-realizado {
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}

a:hover {
    text-decoration: underline;
}

h6 {
    color: honeydew;
    padding: 0px 30px;
}

div#comentario {
    display: block;
    width: 400px;
    margin: 100px auto 0px auto;
}

div#comentario input {
    display: block;
    margin: 0px;
    width: 400px;
}